<h1>Listing Clinics</h1>

<table>
  <thead>
    <tr>
      <th> id</th>
      <th> name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clinics.each do |clinic| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= clinic.id %></td>
        <td><%= clinic.name %></td>
        <td><%= link_to 'Show', clinic %></td>
        <td><%= link_to 'Edit', edit_clinic_path(clinic) %></td>
        <td><%= link_to 'Destroy', clinic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clinic', new_clinic_path %>
