<p id="notice"><%= notice %></p>

<p>
  <strong> Clinic Name:</strong>
  <%= @clinic.name %>
</p>

<%= link_to 'Edit', edit_clinic_path(@clinic) %> |
<%= link_to 'Back', clinics_path %>

<p>
  <h1> List of Doctors: </h1>
</p>
<table>
  <thead>
    <tr>
      <th> id</th>
      <th> name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= doctor.id %></td>
        <td><%= doctor.name %></td>
        <td><%= link_to 'Show', doctor %></td>
        <td><%= link_to 'Edit', edit_doctor_path(doctor, :clinic_id=>@clinic.id) %></td>
        <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Doctor', new_doctor_path(:clinic_id=>@clinic.id) %>
