<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor Name:</strong>
  <%= @doctor.name %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor, :clinic_id=>@doctor.clinic_id) %> |
<%= link_to 'Back', @doctor.clinic %>
