// Place all the styles related to the Clinics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clinics {
  table {
    border-collapse: collapse;
  }
  table tr td {
    padding: 5px;
    vertical-align: top;
  }
  .list_line_even {
    background: #e0f8f8;
  }
  .list_line_odd {
    background: #f8b0f8;
  }
}
